* {
    /* border: 1px solid blue; */
    
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box; /* Limitar tamanho de todas as caixas contando padding e margin */
}

:root {
    --laranja-principal: #E9A82F;
    --laranja-segundario: #F0C26E;
    --cinza-principal: #F1F2F3;
    --cinza-texto: #565656;
    --azul-texto: #34467d;
    --branco: #fff;
    --column-max: 800px;
}

body {
    background-color: var(--cinza-principal);
    font-family: 'Roboto';
    /* CENTRALIZAR CONTAINER */
    /* display: flex;
    justify-content: center;
    align-items: center;    */
}


header {
    background-color: var(--laranja-principal);  
}

div.conteudo-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    padding: 50px 0px 90px 0px;   
}

.conteudo-header h1 {
    font-style: normal;
    font-weight: 500;
    font-size: 5.6rem;
    line-height: 105px;
    text-align: center;
    color: var(--branco);
}



.conteudo-header > p {
    max-width: 650px;    
    width: 100%;
    padding: 20px 70px;
       
    font-style: normal;
    font-weight: 500;
    font-size: 1.1rem;
    line-height: 22px;
    text-align: center;
    color: var(--branco);
}



.conteudo-header > p#atualizacao {
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 20px;
    text-align: center;

    color: #D6790C;
}


button {
    /* RESET STYLE ALL BUTTON */
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

div.container-buttons {
    background-color: var(--laranja-segundario);
    border-radius: 30px;
}

.conteudo-header button {
    color: #fff;
    background-color: var(--laranja-segundario);
    padding: 10px 20px;
    border-radius: 30px;
    transition: 0.4s; 
}

.conteudo-header button:hover {
    background-color: var(--branco);
    color: var(--laranja-principal);
     
}

.conteudo-header button.ativo {
    background-color: var(--branco);
    color: var(--laranja-principal);  
}

main {
    max-width: var(--column-max);

    /* CENTRALIZAR CONTEÚDO NA PÁGINA */
    display: block;
    margin-left: auto;
    margin-right: auto; */
}

div.conteudo-main {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 20px;
    justify-items: center;
    padding: 0px 0px 0px 0px;   
    margin-bottom: -40px;

    position: relative;
    top: -85px;
}

div.conteudo-main > section {
    max-width: var(--column-max);    
    width: 100%;
    height: 100%;
    padding: 30px 40px;
    
    background: #FFFFFF;
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

div.container-buttons {
    max-width: var(--column-max);  
}

section.container.preco-medio, 
section.container.preco-menor, 
section.container.preco-maior {
    flex-grow: 1;
    width: 100%;
    height: 100%;
    padding: 22px 35px;
    display: grid;
    grid-template-columns: 20px 20px 1fr;
    grid-template-rows: auto auto auto;

}

section.container > .texto1 {
    grid-column: 1/4;
    grid-row: 1/2;

    font-style: normal;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 23px;
    color: var(--cinza-texto)    
}

section.container > .texto2 {
    grid-column: 1/2;
    grid-row: 2/3;

    padding-top: 5px;
    
    font-style: normal;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 23px;
    color: var(--azul-texto)
}

section.container > .texto3 {
    grid-column: 2/4;
    grid-row: 2/3;

    padding-left: 10px;

    font-style: normal;
    font-weight: 700;
    font-size: 2.8rem;
    line-height: 53px;
    color: var(--azul-texto)

}

section.container > img {
    grid-column: 1/3;
    grid-row: 3/4;    
}

section.container .texto4 {
    padding-left: 5px;

    font-style: normal;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 23px;

}

section.container .texto5 {
    padding-left: 5px;

    font-style: normal;
    font-weight: 500;
    font-size: 0.75rem;
    line-height: 14px;

}

section.container.grafico > img {
    width: 100%;
    height: 100%;
}

section.container.bloco-percentual {
    grid-column: 3/4;
    grid-row: 3/4;
}


section.container #alta {
    color: #E86C72;
}

section.container #queda {
    color: #61A449;
}


section.container.grafico,
section.container.noticias,
section.container.app,
section.container.metodologia {
    width: 100%;
}

section.container.grafico {
    height: 100%;
}

/* SELECIONANDO A PARTIR DO DA QUARTA SECTION */
div.conteudo-main > section:nth-child(n+4) {    
    grid-column: 1/4;    
}

/* BLOCO NOTÍCIAS RELACIONADAS */

section.noticias {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-column-gap: 55px;

}


h2 {
    font-style: normal;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 29px;

    color: var(--azul-texto);
}

section.noticias > h2 {
    grid-column: 1/3;
    padding-bottom: 20px;
}


/* aplicar em filhos pares */
section.noticias .news:nth-child(even) {
    grid-column: 1/2;   
    
}

/* aplicar em filhos ímpares */
section.noticias .news:nth-child(odd) {
    grid-column: 2/3;
}

div.news > img {
    width: 103px;
    height: 79px;
    border-radius: 10px;
}

div.news {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    margin: 15px 0px;
    
}

div.news > a {
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: px;

    color: #565656;
    
    padding: 5px 0px 0px 10px;
}

div.news > a:hover {
    text-decoration: underline;
    text-decoration-color: var(--laranja-principal);    

}

/* CONTAINER APP */
section.container.app {
    background-color: var(--laranja-principal);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding-bottom: 0px;
}

section.container.app > h4 {
    grid-column: 1/2;
    grid-row: 1/2;    
    align-self: end;
    
    font-style: normal;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 25px;
    color: #FFFFFF;  

    margin-right: 70px;

   
}

section.container.app > button {
    grid-column: 1/2;
    grid-row: 2/3;
    align-self: start;
    justify-self: start;
    
    background-color: var(--branco);
    padding: 10px 20px;
    border-radius: 30px;

    margin-top: 15px;

}

section.container.app > img {
    grid-column: 2/3;
    grid-row: 1/3;
    width: 220px;    
    position: relative;    
    bottom: 0px;
}

section.container.metodologia > p {
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 20px;
    color: #565656;

    margin: 15px 0px;
}

footer.creditos {
    background-color: #e2e2e2;
    width: 100%;
    text-align: center;
    padding: 35px 0px;
}

@media (max-width: 740px) and (min-width: 645px) {
    main {
        margin: auto 20px;
    }

    section.container > .texto1 {
        font-size: 1rem;
    }
    
    section.container > .texto2 {
        font-size: 1rem;
    }
    
    section.container > .texto3 {
        position: relative;
        top: -3px;
        left: -3px;
        font-size: 2.2rem;
    }
    
    section.container > img.circulo {
        width: 80%;
        height: 80%; 
    }    

    section.container.bloco-percentual {
        position: relative;
        
    }
    
    section.container .texto4 {
        font-size: 0.9rem; 
        padding-left: 0px;      
    }
    
    section.container .texto5 {
        padding-left: 0px;
        font-size: 0.6rem;   
    }

}

@media (max-width: 645px) {
    main {
        margin: auto 20px;
    }

    .conteudo-header h1 {
        font-size: 3.5rem;
    }    

    /* INICIO */

    div.conteudo-main {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;  
            
    }
    
    div.conteudo-main > section {
        padding: 25px 25px;
        
    }
    
    /* div.container-buttons {
        max-width: var(--column-max);  
    } */
    
    section.container.preco-medio {
        grid-column: 1/4;
        grid-row:1/2;
        padding: 22px 60px;
                
    }

    section.container.preco-menor {
        grid-column: 1/4;
        grid-row:2/3;
        padding: 22px 60px;
    }
    section.container.preco-maior {
        grid-column: 1/4;
        grid-row:3/4;
        padding: 22px 60px;
    }

    section > h2 {
        font-size: 1.4rem;
    }

    div.conteudo.main > section {
        max-width: 85vw;
        min-width: 85vw;
        width: 85vw;
    }
/* section.container.preco-menor, 
section.container.preco-maior {
    flex-grow: 1;
    width: 100%;
    height: 163px;
    padding: 22px;
    display: grid;
    grid-template-columns: 20px 20px 1fr;
    grid-template-rows: auto auto auto;
} */
/* FIM */

    section.noticias {
        display: grid;
        grid-template-columns: 1fr;
    }

    section.noticias .news:nth-child(even) {
        grid-column: 1/2;
    }
    section.noticias .news:nth-child(odd) {
        grid-column: 1/2;
    }

    section.noticias {
        grid-column-gap: 0px;
    }

    .conteudo-header > p {
        padding: 10px 15px 25px 15px;
    }

    /* RESPONSIVIDADE BLOCO APP */

    section.container.app {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        padding-bottom: 0px;
        justify-items: center;
    }
    
    section.container.app > h4 {
        grid-column: 1/2;
        grid-row: 1/2;
        margin: 10px 20px;
        
        font-size: 1.4rem;      
        text-align: center;    
    }
    
    section.container.app > button {
        grid-column: 1/2;
        grid-row: 2/3;

        justify-self: center;

        margin-bottom: 15px;
    }
    
    section.container.app > img {
        grid-column: 1/2;
        grid-row: 3/4;

    }

}

@media (max-width:795px) and (min-width: 646px) {
    section.container.preco-medio, 
    section.container.preco-menor, 
    section.container.preco-maior {
        padding: 22px 20px;
    }
}
    



@media (max-width: 480px) {    

    
    .conteudo-header > p#atualizacao {
        font-size: 0.9rem;
        padding-top: 15px;
    }   
}

@media (max-width: 600px) {
    div.container-buttons {
        /* MENU COM BARRA DE ROLAGEM HORIZONTAL */
        overflow: auto;
        white-space: nowrap;
        max-width: 560px;
        width: 90%;
    }
    
    /* .conteudo-header button {
        color: #fff;
        background-color: var(--laranja-segundario);
        padding: 10px 20px;
        border-radius: 30px;
    } */
}

section.preco-menor:not(.dados-carregados) > * {
    opacity: 0;
    /* background-image: url(../images/); */

}

/* ADICIONAR CIRCULO DE LOADING ENQUANDO OS DADOS CARREGAM */
/* section.container.preco-medio {
    
    background-image: url("imagens/loading.png");
    background-position: center;
    background-size: cover;
    
} */


